<li class="list-group-item">
    <p>{{comment.content}}</p>
    <small>Comment by: {{comment.user.username}} | {{comment.lastUpdated}}</small>
</li>

<script src="../../public/js/comment.js"></script>