<!DOCTYPE html>
<html>
<head>
    <title>Login or Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Login</h2>
                        <form action="api/users/login" method="POST">
                            <div class="form-group">
                                <label for="loginEmail">Email</label>
                                <input type="text" class="form-control" id="loginEmail" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" class="form-control" id="loginPassword" name="password" required>
                            </div>
                            <button id="submit-login" type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Sign Up</h2>
                        <form action="api/users/signup" method="POST">
                            <div class="form-group">
                                <label for="signupUsername">Username</label>
                                <input type="text" class="form-control" id="signupUsername" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="signupEmail">Email</label>
                                <input type="text" class="form-control" id="signupEmail" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="signupPassword">Password</label>
                                <input type="password" class="form-control" id="signupPassword" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="signupRepeatPassword">Repeat Password</label>
                                <input type="password" class="form-control" id="signupRepeatPassword" name="repeatPassword" required>
                            </div>
                            <button id="submit-signup" type="submit" class="btn btn-primary">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>

